

.formBox { 
    display: flex;
    border: 1px solid #eee; 
    border-radius: 4px;
    max-width: 450px;
    align-content: end;
    align-items: end;
}

.formBox input {
    color: black;
    padding: 5px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-bottom: 1px solid #999; 
    border-right: 1px solid #999; 
}


/* Home Address Style Sheet */

.company-address-form { 
    width: clac(100vw - 30%);
    display: flex; 
    flex-direction: column wrap;
    flex-grow: 2;
    padding: 5px; 
    margin: 5px;
  }
  
  .company-address-form .input-block { 
    display: block; 
    padding: 5px; 
    margin-left: 5px;
    margin-bottom: 25px;
  }
  
  .input-inline { 
    display: inline-block;
    padding: 5px; 
    margin-left: 5px;
    margin-bottom: 25px;
    height: 33px;
  }