

.formBox { 
    display: flex;
    border: 1px solid #eee; 
    border-radius: 4px;
    max-width: 450px;

    padding: 10px; 

    align-content: end;
    align-items: end;


}

.formBox input {
    color: #eee;
    margin: 0px 15px 15px 15px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-bottom: 1px solid #999; 
    border-right: 1px solid #999; 
}